<br><% if @stalls.any? %>
  <% @stalls.each do |stall| %>
    <%= link_to stall.name, stall_path(stall) %><br>
    Description:<%= stall.description %><br>
    Address:<%= stall.address %><br>
      _________________<br>
  <% end %>

<% else %>
  No stalls yet
<% end %>
<a><%= link_to "Add a stall", new_stall_path %>  </a>
